* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font: 14px 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased !important; /* imagens mais detalhadas */
}
